.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width:98px;
    height: 880px;
    background-color:white;
    padding-top: 46px;
}
.navbar__image{
   width: 51px;
   height: 35px;
}
.navbar__item{
    width: 98px;
    height: 50px;
}
.navbar__item:hover{
    filter: invert(56%) sepia(83%) saturate(1687%) hue-rotate(207deg) brightness(88%) contrast(87%);
    border-top: 4px solid transparent;
    border-left: 4px solid #7F7FD5;
    border-bottom: 4px solid transparent;

}
.navbar__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 98px;
    height: 430px;
}
.navbar__link{
    display: block;
    width: 98px;
    height: 50px;
}

.item--home{
    background: url(/source/img/icons/home-icon.png)no-repeat center;
}


.item--board{
    background: url(/source/img/icons/board-icon.png)no-repeat center;
}
.item--friend{
    background: url(/source/img/icons/frends-icon.png)no-repeat center;
}
.item--message{
    background: url(/source/img/icons/message-icon.png)no-repeat center;
}
.item--video{
    background: url(/source/img/icons/video-icon.png)no-repeat center;
}
.item--statistics{
    background: url(/source/img/icons/statistics-icon.png)no-repeat center;
}
.item--settings{
    background: url(/source/img/icons/settings-icon.png)no-repeat center;
}
.navbar__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-bottom: 48px;
  }
  
  /* Hide default HTML checkbox */
  .navbar__switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 5px;
    background-color:#7F7FD5;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider{
    background-color:#7F7FD5;
  }
  
  input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    box-sizing: border-box;
    background: #7F7FD5;
    border: 3px solid white;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    border:0.5px solid #4F4F4F;
  }
  
  .slider.round:before {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: url(/source/img/icons/logo-checkbox.png)no-repeat center;
   background-color:#7F7FD5;
  }
  .slider.round ::after{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
   background-color:#7F7FD5;
   border: 2px solid white;
  }